@font-face {
    font-family: neoterique;
    src: url('../fonts/Neoterique.ttf');
}

html{
	position: relative;
	font-family: arial;
}

header{
	background-image: linear-gradient(0deg, rgba(0,0,0,0), #BEE4FA);
	height: 80px;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
	animation: header 2s linear;
}

header>h1{
	color: white;
	font-family: neoterique;
	padding: 10px 0px;
	overflow: hidden;
}

h1>span{
	letter-spacing: 4vw;
}

.victoria{
	background-image: linear-gradient(0deg, rgba(0,0,0,0), #81FF85);
	animation: victoria;
	animation-duration: 6s;
	animation-direction: linear;
}

.derrota{
	background-image: linear-gradient(0deg, rgba(0,0,0,0), #FF5858);
	animation: derrota;
	animation-duration: 6s;
	animation-direction: linear;
}

.menu{
	width: 100%;
}

.btn-niveles{
	background-image: linear-gradient(0deg, white, #BEE4FA);
	border: 2px solid white;
	height: 50px;
}

.btn-niveles > img{
	width: 25px;
	height: 25px;
}

table{
	background-image: linear-gradient(0deg, #BEE4FA, rgba(0,0,0,0));
	margin-bottom: 1vh;
}

td{
	background-color: #8FB9D0;
	width: 45px;
	height: 45px;
	padding: 5px 5px;
	font-weight: bold;
	border-radius: 2px 2px;
	border: 1px solid white;
	min-width: 40px;
	min-height: 35px;
	font-family: neoterique;
}

td:hover{
	cursor: default;
}

.tabla-third{
	height: 45px;
	position: relative;
}

.marcadores{
	font-family: neoterique;
	font-size: 40px;
	width: 170px;
	position: relative;
}

#minas, #tiempo{
	height: 100%;
	width: 100%;
	text-align: center;
	color: #396E8A;
	position: absolute;
	bottom: -10px;
}

.obj-marcadores{
	height: 100px;
	width: 100px;
	position: absolute;
	z-index: -1;
	opacity: 0.3;
	filter: blur(2px);
	top:-8px;
}

.obj-tablero{
	width: 25px;
	height: 25px;
}

.banderitas{
	animation: banderita 0.15s cubic-bezier(0.58, -0.18, 0.84, 2.22);
}

.minas{
	animation: mina 3s cubic-bezier(0.03, 0.74, 0.43, 1.75);
}

.error-banderitas{
	animation: error_banderita 1s ease;

}

.emoticono{
	width: 45px;
	height: 45px;
}

.emoticono:active{
	visibility: hidden;
}

.emoticono:hover{
	width: 45px;
	height: 47px;
	cursor: pointer;
}

#nueva_partida:active{
	background-image: url("../images/clicked.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.inicio-seguro{
	font-family: neoterique;
	text-align: center;
	color: #396E8A;
	margin: 0px 2px;
	width: 100%;
	cursor: pointer;
	background-color: #BEE4FA;
	padding: 2px 0px;
	transition: 0.5s ease;
}

.marcador-inicio-seguro{
	font-family: neoterique;
	font-size: 12px;
}

footer{
	width: 100%;
	margin-top: 20px;
}

.informacion{
	font-size: 12px;
}

/*Animaciones*/
@keyframes banderita {
	from {margin-top: -15px;}
	to {margin-top: : 20px;}
}

@keyframes mina {
	0% {transform: rotate(0deg); filter: brightness(150%);}
	10% {transform: rotate(60deg);}
	20% {transform: rotate(-50deg);}
	30% {transform: rotate(40deg);}
	40% {transform: rotate(-20deg);}
	50% {transform: rotate(10deg); }
	60% {transform: rotate(-5deg);}
	70% {transform: rotate(3deg);}
	80% {transform: rotate(-2deg);}
	90% {transform: rotate(1deg);}
	100% {transform: rotate(0deg); filter: brightness(100%);}
}

@keyframes error_banderita {
	from {transform: rotate(-15deg);}
	to {transform: rotate(0deg);}
}

@keyframes victoria {
	0% {opacity: 1; background-image: linear-gradient(0deg, rgba(0,0,0,0), #BEE4FA);}
	20% {opacity: -1; }
	100% {opacity: 1; background-image: linear-gradient(0deg, rgba(0,0,0,0), #81FF85);}
}

@keyframes derrota {
	0% {opacity: 1; background-image: linear-gradient(0deg, rgba(0,0,0,0), #BEE4FA);}
	20% {opacity: -1; }
	100% {opacity: 1; background-image: linear-gradient(0deg, rgba(0,0,0,0), #FF5858);}
}

@keyframes header {
	from {opacity: 0; background-image: linear-gradient(0deg, rgba(0,0,0,0), #BEE4FA);}
	to {opacity: 1;}
}